@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed|Open+Sans');

body {
  margin: 0 auto;
  max-width: 50em;
  font-family: 'Open Sans', 'Fira Sans Condensed', sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
}

.explanatory-text {
  display:block;
  margin-top: 2px;
  line-height: 1.4;
  font-size: 12px;
}

#plot {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 14px;
}

.container {
  width: auto;
}

.result {
  visibility: hidden;
}

.movie-poster {
  float: left;
  margin-right: 10px;
}

.movie-info {
  visibility: hidden;
}
